server:
  port: 8081
  http2:
    enabled: true
spring:
  application:
    name: mail-service
  grpc:
    server:
      port: 9090
      security:
        enabled: false
  profiles:
    active: prod
  # database config
  datasource:
    url: jdbc:postgresql://localhost:5432/pos_db
    username: admin
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
      show_sql: true

# Outlook SMTP config
  mail:
    host: smtp.office365.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        protocol: smtp
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

